#header {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  text-align: center;
  background-color: rgba(102, 67, 3, 0.877);
}

ion-card {
  max-width: 300px;
  margin: 0 auto;
  margin-top: 150px;
  background-color: #884A39;
}

.login-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.login-button-container {
  margin-top: 20px;
}

ion-button {
  --background: #007bff;
  --color: #fff;
  --border-radius: 5px;
}

ion-item {
  --background: #C38154;
  --border-radius: 25px;
  --padding-start: 10px;
  --padding-end: 10px;
}

  .body-background {
    --background: url('/assets/img/user.png') no-repeat center center fixed;
    background-size: cover;
  }

  