#container {
  text-align: center;
  position: absolute;
  left: 25%;
  right: 25%;
  top: 50%;
  transform: translateY(-50%) 
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  /**color: #8c8c8c;**/

  margin: 0;
}

#container a {
  text-decoration: none;
}


#header {
  text-align: center;

}

#search-bar {
  position: relative;
}

#search-results {
  position: relative;
  top: -40px; /* Adjust the value as needed */
  z-index: 2;
}


#hover-click-button {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

#hover-click-button:hover {
  background-color: #000000;
  color: #ffffff;
  border-color: #ffffff;
  cursor: pointer;
}

.clickable-button { //save button
  cursor: pointer;
}

.center-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 35%;
  margin-right: 35%;
  width: 100%;
  

}

.deleteButton {
--padding-start: 0;
  --padding-end: 0;
  font-size: 20px;
  --ion-color-primary: red;

}

